<div>
<button ng-click="cur_view = 'SignUp'">SignUp</button>
<button ng-click="cur_view = 'SignIn'">SignIn</button>
<button ng-click="cur_view = 'User'">User</button>
<button ng-click="cur_view = 'Voting'">Voting</button>
<button ng-click="cur_view = 'Admin_SignIn'">Admin_SignIn</button>
<button ng-click="cur_view = 'Admin_Create'">Admin_Create</button>
<button ng-click="cur_view = 'Admin_Manage'">Admin_Manage</button>
<button ng-click="cur_view = 'Weather'">Weather</button>
    
<div ng-show="cur_view == 'SignUp'">

    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <!-- FORM ============ -->

          <form name="userForm" ng-submit="submitForm()" novalidate>

            <!-- NAME -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
              <label>Name</label>
              <input type="text" name="name" class="form-control" ng-model="name" required>

              <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
            </div>

            <!-- USERNAME -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
              <label>Team ID</label>
              <input type="text" name="team_id" class="form-control" ng-model="team_id">
              <p ng-show="userForm.username.$error.minlength" class="help-block">Team ID is too short.</p>
              <p ng-show="userForm.username.$error.maxlength" class="help-block">Team ID is too long.</p>
            </div>

            <!-- EMAIL -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
              <label>Email</label>
              <input type="email" name="email" class="form-control" ng-model="email">
              <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>

            <label>Password</label>
            <input placeholder="Password"
                   class="form-control"
                   name="password" ng-model="password" ng-model-options="{ updateOn: 'blur' }"
                   required type="password" pattern=".{5,}" />
            <div class="error-message"
                 ng-show="userForm.password.$invalid && !userForm.password.$pristine">
              Passwords must have at least 5 chars.
            </div>

            <label>Import Student Link</label>
            <input type="text" class="form-control" id="page_source" placeholder="Page Source" ng-model="page_source" />


            <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="userSubmit()">Submit</button>

          </form>
        </div>
        <div class="col-sm-6">

        </div>
      </div>


    </div>

</div>

<div ng-show="cur_view == 'SignIn'">

    <!--<input type="text" id="login_username" placeholder="Email" ng-model="login_username" />-->

    <!--<input type="text" id="login_password" placeholder="Password" ng-model="login_password" />-->

  <!-- EMAIL -->
  <div class="form-group"  ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
    <label>Email</label>
    <input type="email" id="login_username" name="email" class="form-control" ng-model="login_username">
    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
  </div>

  <label>Password</label>
  <input placeholder="Password"
         class="form-control"
         id="login_password"
         name="password" ng-model="login_password" ng-model-options="{ updateOn: 'blur' }"
         required type="password" pattern=".{5,}" />
  <div class="error-message"
       ng-show="userForm.password.$invalid && !userForm.password.$pristine">
    Passwords must have at least 5 chars.
  </div>


  <button ng-click="login()">Sign In</button>

</div>

<div ng-show="cur_view == 'User'">

    <h1>User Info</h1>

    <button ng-click="getUserData()">Get Data</button>

    <button ng-click="cur_view = 'Voting'">Vote</button>

    <h4>Name: {{current_user.Name}}</h4>
    <h4>User ID: {{current_user.User_ID}}</h4>
    <h4>Email: {{current_user.Email}}</h4>
    <h4>Password: {{current_user.Password}}</h4>
    <h4>Teams: {{current_user.Teams}}</h4>
    <h4>Busy Times: {{current_user.Busy_Times}}</h4>

</div>

<div ng-show="cur_view == 'Voting'">

    <center>

        <h1>Voting Results</h1>

        <form name="votingForm" ng-if="weather_arr.length != 0">

            <div style="margin-top: 20px; font-size: 28px" ng-repeat="obj in current_team.Available_Times_Objs">
             <input type="radio" name="vote_radio" ng-model="$parent.Time_ID" value="{{obj.Time_ID}}" required /> {{obj.Time}} || {{getWeather(obj.Time)}} || ({{obj.Total_Votes}} votes)
            </div>


            <button class="btn btn-success" style="margin-top: 20px" ng-click="submitVote(); showVoteBtn = false" ng-show="showVoteBtn">Submit Vote</button>

        </form>

    </center>

</div>

<div ng-show="cur_view == 'Admin_SignIn'">

    <input type="text" id="admin_login_username" placeholder="Email" ng-model="admin_login_username" />

    <input type="text" id="admin_login_password" placeholder="Password" ng-model="admin_login_password" />

    <button ng-click="adminLogin()">Sign In</button>

</div>

<div>

  <button id="signin-button" onclick="handleSignInClick()">Import Google Calendar + Sign In</button>

</div>

<div ng-show="cur_view == 'Admin_Create'">

    <h1>Create Team</h1>

    <input type="text" id="c_team_name" placeholder="Team Name" ng-model="c_team_name" />

    <input type="text" id="c_team_emails" placeholder="Emails" ng-model="c_team_emails" />

    <input type="number" id="c_meeting_length" placeholder="Length of Meeting" ng-model="c_meeting_length" />

    <input type="text" id="c_admin_email" placeholder="Admin Email" ng-model="c_admin_email" />

    <input type="text" id="c_admin_password" placeholder="Admin Password" ng-model="c_admin_password" />

    <button ng-click="createTeam()">Create Team</button>

</div>

<div ng-show="cur_view == 'Admin_Manage'">

    <h1>Manage Team</h1>

    <h4>Team ID: {{current_team.Team_ID}}</h4>

    <h4>Users:</h4>

    <p ng-repeat="user in current_team.Emails">{{user}}</p>

</div>

<div ng-show="cur_view == 'Weather'">

    <button id="city_input" ng-click="getData()">Get Weather Data</button>

    <input type="text" id="search_box" ng-model="search_box" />

    <p ng-repeat="obj in weather_arr">{{obj.dt_txt}}: {{ obj.weather[0]["main"] }} ({{ obj.weather[0]["description"] }})</p>

</div>

</div>
