<div>

  <button ng-click="cur_view = 'User'">User</button>
<button ng-click="cur_view = 'Voting'">Voting</button>
<button ng-click="cur_view = 'Admin_Manage'">Admin_Manage</button>
<button ng-click="cur_view = 'Weather'">Weather</button>

<div class="row" ng-show="cur_view == 'Home'">

    <center>
        <div class="col-lg-12">

            <div class="row" style="margin-top: 40px">
                <h1>Scheduler</h1>
                <h4>App for teams to find free times to meet</h4>
            </div>

            <div class="row" style="margin-top: 40px">
                <button class="btn btn-lg btn-info" ng-click="cur_view = 'SignUp'">Sign Up</button>
            </div>

            <div class="row" style="margin-top: 40px">
                <button class="btn btn-lg btn-info" ng-click="cur_view = 'SignIn'">Login</button>
            </div>

            <div class="row" style="margin-top: 40px">
                <button class="btn btn-lg btn-info" ng-click="cur_view = 'Admin_Create'">Create Team</button>
            </div>

            <div class="row" style="margin-top: 40px">
                <button class="btn btn-lg btn-info" ng-click="cur_view = 'Admin_SignIn'">Manager Login</button>
            </div>

        </div>
    </center>

</div>

<div ng-show="cur_view == 'SignUp'">

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <!-- FORM ============ -->

            <center>

                <h1>Sign Up</h1>

                <form name="userForm" ng-submit="submitForm()" novalidate style="width: 50%; margin-top: 40px">

                    <!-- NAME -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                      <label>Name</label>
                      <input type="text" name="name" class="form-control" ng-model="name" required>

                      <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Your name is required.</p>
                    </div>

                    <!-- USERNAME -->
                    <div class="form-group" style="margin-top: 40px" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                      <label>Team ID</label>
                      <input type="text" name="team_id" class="form-control" ng-model="team_id">
                      <p ng-show="userForm.username.$error.minlength" class="help-block">Team ID is too short.</p>
                      <p ng-show="userForm.username.$error.maxlength" class="help-block">Team ID is too long.</p>
                    </div>

                    <!-- EMAIL -->
                    <div class="form-group" style="margin-top: 40px" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                      <label>Email</label>
                      <input type="email" name="email" class="form-control" ng-model="email">
                      <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                    </div>

                    <label style="margin-top: 40px">Password</label>
                    <input placeholder="Password"
                           class="form-control"
                           name="password" ng-model="password" ng-model-options="{ updateOn: 'blur' }"
                           required type="password" pattern=".{5,}" />
                    <div class="error-message"
                         ng-show="userForm.password.$invalid && !userForm.password.$pristine">
                      Passwords must have at least 5 chars.
                    </div>

                    <label style="margin-top: 40px">Import Student Link</label>
                    <input type="text" class="form-control" id="page_source" placeholder="Page Source" ng-model="page_source" />


                    <button type="submit" class="btn btn-primary" style="margin-top: 40px" ng-disabled="userForm.$invalid" ng-click="userSubmit()">Submit</button>

                  </form>
            </center>

        </div>

      </div>

    </div>

</div>

<div ng-show="cur_view == 'SignIn'">

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <!-- FORM ============ -->

            <center>

                <h1>Sign In</h1>

                <form name="loginForm" ng-submit="submitForm()" novalidate style="width: 50%; margin-top: 40px">

                    <!-- EMAIL -->
                    <div class="form-group" style="margin-top: 40px" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
                      <label>Email</label>
                      <input type="email" name="email" placeholder="Email" class="form-control" ng-model="login_username">
                      <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Enter a valid email.</p>
                    </div>

                    <label style="margin-top: 40px">Password</label>
                    <input placeholder="Password"
                           class="form-control"
                           name="password" ng-model="login_password" ng-model-options="{ updateOn: 'blur' }"
                           required type="password" pattern=".{5,}" />
                    <div class="error-message"
                         ng-show="loginForm.password.$invalid && !loginForm.password.$pristine">
                      Passwords must have at least 5 chars.
                    </div>

                    <button type="submit" class="btn btn-primary" style="margin-top: 40px" ng-disabled="loginForm.$invalid" ng-click="login()">Sign In</button>

                  </form>

            </center>



        </div>

      </div>

    </div>

</div>

<div ng-show="cur_view == 'User'">

    <center>
        <div class="col-lg-12">

            <div class="row" style="margin-top: 40px">
                <h1>User Profile</h1>
            </div>

            <div class="row" style="margin-top: 40px">

                <button class="btn btn-lg btn-info" onclick="handleSignInClick()">Import Google Calendar + Sign In</button>

                <button class="btn btn-lg btn-info" ng-click="importTimesFromGC()">Save Google Calendar To Account</button>

                <button class="btn btn-lg btn-info" ng-click="getFreeTimes()">Get Free Times</button>

                <input class="form-control" style="width: 30%; margin-top: 20px" type="text" placeholder="Team ID" ng-model="voting_id" />

                <button class="btn btn-lg btn-info" style="margin-top: 20px" ng-click="getVotingTimes(); cur_view = 'Voting'">Vote</button>

            </div>

            <div class="row" style="margin-top: 40px">
                <h4>Name: {{current_user.Name}}</h4>
            </div>

            <div class="row" style="margin-top: 40px">
                <h4>User ID: {{current_user.User_ID}}</h4>
            </div>

            <div class="row" style="margin-top: 40px">
                <h4>Email: {{current_user.Email}}</h4>
            </div>

            <div class="row" style="margin-top: 40px">
                <h4>Password: {{current_user.Password}}</h4>
            </div>

            <div class="row" style="margin-top: 40px">
                <h4>Teams: {{current_user.Teams}}</h4>
            </div>

            <div class="row" style="margin-top: 40px">
                <h4>Busy Times: {{current_user.Busy_Times}}</h4>
            </div>

        </div>
    </center>

</div>

<div ng-show="cur_view == 'Voting'">

    <center>

        <h1>Voting Results</h1>

        <form name="votingForm">

            <div style="margin-top: 20px; font-size: 28px" ng-repeat="obj in current_team.Available_Times_Objs">
             <input type="radio" name="vote_radio" ng-model="$parent.Time_ID" value="{{obj.Time_ID}}" required /> {{obj.Time}} || {{getWeather(obj.Time)}} || ({{obj.Total_Votes}} votes)
            </div>

            <button class="btn btn-info" style="margin-top: 20px" ng-click="submitVote(); showVoteBtn = false" ng-show="showVoteBtn">Submit Vote</button>

        </form>

    </center>

</div>

<div ng-show="cur_view == 'Admin_SignIn'">

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <!-- FORM ============ -->

            <center>

                <h1>Manager Sign In</h1>

                <form name="adminLoginForm" ng-submit="submitForm()" novalidate style="width: 50%; margin-top: 40px">

                    <!-- EMAIL -->
                    <div class="form-group" style="margin-top: 40px" ng-class="{ 'has-error' : adminLoginForm.email.$invalid && !adminLoginForm.email.$pristine }">
                      <label>Email</label>
                      <input type="email" name="email" placeholder="Email" class="form-control" ng-model="admin_login_username">
                      <p ng-show="adminLoginForm.email.$invalid && !adminLoginForm.email.$pristine" class="help-block">Enter a valid email.</p>
                    </div>

                    <label style="margin-top: 40px">Password</label>
                    <input placeholder="Password"
                           class="form-control"
                           name="password" ng-model="admin_login_password" ng-model-options="{ updateOn: 'blur' }"
                           required type="password" pattern=".{5,}" />
                    <div class="error-message"
                         ng-show="adminLoginForm.password.$invalid && !adminLoginForm.password.$pristine">
                      Passwords must have at least 5 chars.
                    </div>

                    <button type="submit" class="btn btn-primary" style="margin-top: 40px" ng-disabled="adminLoginForm.$invalid" ng-click="adminLogin()">Sign In</button>

                  </form>

            </center>

        </div>

      </div>

    </div>

</div>

<div ng-show="cur_view == 'Admin_Create'">

    <h1>Create Team</h1>

    <input type="text" id="c_team_name" placeholder="Team Name" ng-model="c_team_name" />

    <input type="text" id="c_team_emails" placeholder="Emails" ng-model="c_team_emails" />

    <input type="number" id="c_meeting_length" placeholder="Length of Meeting" ng-model="c_meeting_length" />

    <input type="text" id="c_admin_email" placeholder="Admin Email" ng-model="c_admin_email" />

    <input type="text" id="c_admin_password" placeholder="Admin Password" ng-model="c_admin_password" />

    <button ng-click="createTeam()">Create Team</button>

</div>

<div ng-show="cur_view == 'Admin_Manage'">

    <center>
        <div class="col-lg-12">

            <div class="row" style="margin-top: 40px">
                <h1>Manage Team</h1>
            </div>

            <div class="row" style="margin-top: 40px">
                <button class="btn btn-info" ng-click="getFreeTimes()">Voting Results</button>
            </div>

            <div class="row" style="margin-top: 40px">
                <h4>Team ID: {{current_team.Team_ID}}</h4>
            </div>

            <div class="row" style="margin-top: 40px">
                <h4>Users:</h4>
                <p ng-repeat="user in current_team.Emails">{{user}}</p>
            </div>

        </div>
    </center>

</div>

<div ng-show="cur_view == 'Weather'">

    <button id="city_input" ng-click="getData()">Get Weather Data</button>

    <input type="text" id="search_box" ng-model="search_box" />

    <p ng-repeat="obj in weather_arr">{{obj.dt_txt}}: {{ obj.weather[0]["main"] }} ({{ obj.weather[0]["description"] }})</p>

</div>
  
</div>
